# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env.*
sigeti-dee63dd3ec66.json
cambiar_usuario_git.sh
OsmAnd/

# dependencies
react/node_modules/
react/.pnp
react/.pnp.js
react/.yarn/install-state.gz

# testing
react/coverage

# next.js
react/.next/
react/out/

# production
react/build

# misc
react/.DS_Store
*.pem

# debug
react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
