/* src/components/MapComponent.module.css */
.text-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}