/* src/components/indicadores/territoriales/piramides/SexoyEdad.css */

.sexoyedad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sexoyedad-title {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.sexoyedad-chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sexoyedad-chart {
  width: 90%; /* Adjust as needed to avoid overlapping */
  max-width: 1200px; /* You can set a maximum width if needed */
}
