.infraestructura-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF8DC;
  padding: 20px;
}

.infraestructura-item {
  text-align: center;
}

.infraestructura-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}

.maloca {
  background-color: #CD853F;
}

.educativo {
  background-color: #DDA0DD;
}

.salud {
  background-color: #87CEFA;
}
